html {
    font-family: 'Raleway', sans-serif;
}

.mailform-container, #contact-me-subtitle {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.5rem;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.form-container, .mail-container {
    width: 40%;
    max-width: 600px;
    min-width: 400px;
    margin: 20px auto;
    border-radius: 5px;
}

.mailform-container {
    display: flex;
    justify-content: space-around;
}

.iconlink-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 105px;
    gap: 20px;
}

#office-loc-link {
    color: #0000EE;
    text-decoration: none;
}
#office-loc-link:hover {
    text-decoration: underline;
}
.office-loc-container {
    margin: 0px auto;
}

#contact-me-title {
    margin-top: 50px;
}

@media screen and (max-width: 1600px){
    .mail-container, .form-container {
        width: 420px;
    }
    .office-loc {
        width: 400px;
        height: 300px;
    }
}


@media screen and (max-width: 1200px){
    .mailform-container {
        display: block;
    }
    .mail-container h2, .form-container form h2 {
        text-align: center;
    }
    .mail-container p {
        width: 85%;
        margin: 13px auto;
        text-align: left;
    }
    .mail-container {
        text-align: center;
    }
}

@media screen and (max-width: 640px){
    .mail-container, .form-container {
        margin: 0px auto;
        min-width: 0;
        width: 100%;
        padding: 10px
    }
    .mail-container h2, .form-container form h2 {
        text-align: center;
    }
    .mail-container p {
        width: 85%;
        margin: 13px auto;
        text-align: left;
    }
    .mail-container #office-loc-link  {
        margin: 0px auto;
    }
    .mail-container {
        text-align: center;
    }
    .office-loc {
        padding: 0px 10px;
        width: 100%;
    }
}




