footer {
    padding-top: 5px;
    border-top: whitesmoke 1px solid;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    margin-top: auto;
}

footer p {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: black;
    margin: 0px 5%;
    font-size: 13px;
    letter-spacing: 1.2px;
}

.footer-logos-container {
    margin: 0px 3.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo-container {
    margin: 0px 5px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail {
    width: 29px;
}
.linkedin {
    width: 26px;
}
.insta {
    width: 25px;
}
.scholar {
    width: 28px;
}

.mail:hover {
    width: 30px;
}
.linkedin:hover {
    width: 28px;
}
.insta:hover{
    width: 27px;
}
.scholar:hover {
    width: 30px;
}

@media screen and (max-width: 1200px){
    footer {
        margin-top: 80px;
    }
}

/* Very small screens */
@media (max-width: 640px) {
    footer { 
        flex-direction: column; 
        justify-content: center; 
        gap: 12px; 
        height: auto; 
        padding-bottom: 20px;
        padding-top: 20px;
    }
  footer p { margin: 0; text-align: center; }
  .footer-logos-container { margin: 0; }
}
