:root {
  --list-indent: 24px;   /* left indent for list bullets/numbers */
  --list-gap: 10px;      /* vertical gap between list items */
  --list-line-height: 1.6;
}

#download-cv-section {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: start;
}
.download-cv-container {
    padding: 30px 0px;
}
.download-cv {
    background-color: orange;
    color: black;
    width: 140px;
    font-size: 15px;
    padding: 0px 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    opacity: 0.8;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    text-decoration: none;
}
.download-cv img, .download-sor img, .download-trscpt img {
    height: 15px;
    margin-right: 8px;
}

.download-cv:hover, .download-sor:hover, .download-trscpt:hover {
    opacity: 1;
    cursor: pointer;
}
.download-cv p {
    font-size: 14px;
}


.nav-box-profil-right ol,
.nav-box-profil-right ul,
.papers-list {
  text-align: left;
  list-style-position: outside; 
  padding-left: 20px;           
  margin: 0 0 0 0;
}

.nav-box-profil-right li,
.papers-list li {
  margin: 0 0 0.6rem 0;  /* vertical spacing between items */
  line-height: 1.5;
  text-align: left;      /* ensure each item itself is left aligned */
}

ol li, ul li {
    font-weight: 300;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 1.5rem;
    text-align: left;
}
ol, ul {
    padding: 10px;
    padding-top: 0px;
    padding-left: 0px;
    border-radius: 5px;
    max-width: 700px;
}

.edu-container-row {
    background-color: whitesmoke;
    border-radius: 15px;
    max-width: 700px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.edu-container-row-main {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: start;
    background-color: whitesmoke;
    border-radius: 15px;
    max-width: 700px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.edu-container-row-extra {
    display: none;
    padding: 1px 0px;
}

.edu-item-main-text, .edu-item-date-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5rem;
    scroll-margin-top: 110px;
}
.edu-item-main-text a{
    color: black;
    text-decoration: none;
}
.edu-item-main-text a:hover {
    color: black;
    text-decoration: underline;
}
.edu-item-date-text {
    text-align: right;
    margin-right: 20px;
}
.edu-item-main-text {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.see-more:hover, .view-less:hover {
    text-decoration: underline;
    cursor: pointer;
}

.see-more-icon, .view-less-icon {
    display: none;
    height: 10px;
    align-items: end;
}

.bold-text {
    font-weight: 500;
}
#ul-edu-extra {
    padding-left: 20px;
    font-weight: 300;
    padding-left: 40px;
    padding-bottom: 5px;
    text-align: left;
    margin-bottom: 0px;
}
#li-edu-extra {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 14px;
    padding-left: 10px;
    border-radius: 5px;
    max-width: 700px;
}






.languages-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: whitesmoke;
    max-width: 700px;
    padding: 5px 20px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.language-box {
    padding: 10px 5px;
    border-radius: 10px;
}

.language-img {
    height: 25px;
    margin: 0 auto;
}
.language-text {
    font-weight: 500;
    font-size: 14px;
    margin: 5px 0px;
}
.language-level {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 14px;
}

