html {
    font-family: 'Raleway', sans-serif;
}

body, main {
    margin: 0px;
}
header {
    padding: 0.3rem 2.5rem;
    display: flex;
    justify-content: space-between;
}

#logo-title-container {
    margin-left: 40px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#logo-title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    margin: auto;
}


header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


header nav h5, .subnav {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px;
    width: 100px;
    padding: 10px 5px ;
    border-bottom: 1px solid black;
    text-align: center;
    color: black;
    text-decoration: none;
}

nav-link:hover, header nav a:hover, #mobile-nav a:hover header nav h5:hover,
#mobile-nav h5:hover
 {
    font-weight: 700;
    cursor: pointer;
}

header nav h5#chosen, #mobile-nav h5#mob-chosen {
    font-weight: 700;
}

