main {
    background-color: whitesmoke;
}

.banner {
    height: 420px;
    width: 100%;
    background-image: url("../imgs/menu/prague-castle-banner.png");
    background-size: cover;
    background-position: right;
    border-radius: 5px;
    letter-spacing: 3px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    transition: height 0.2s linear;
    transition: background-position 0.2s linear;
}
.banner p {
    grid-column: 1 / span 1;
    text-align: center;
    font-size: 26px;
    padding: 0px 10px;
    color: rgba(0,0,0,0.7);
}
#banner-img-source {
    background-color: rgba(0,0,0,0.3);
    width: 200px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 300;
    color: whitesmoke;
    position: absolute;
    left: 0px;
    top: 382px;
    opacity: 0.8;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    transition: top 0.1s linear;
}
#banner-img-link {
    position: absolute;
    text-decoration: none;
    color: seashell;
}
#banner-img-source:hover {
    opacity: 1;
    background-color: rgba(0,0,0,0.7);
}
#see-photos{
    height: 6px;
    width: 6px;
    transform: rotate(-45deg);
    opacity: 0.8;
}

p.greet-title {
    //padding-top: 30px;
    margin: auto;
}

.nav-box-container {
    display: block;
    width: 100%;
    justify-content: space-around;
    //flex-wrap: wrap;
    max-width: 1700px;
    margin: 0px auto;
    padding: 30px 0px;
}

.nav-box {
    //height: 450px;
    //width: 400px;
    width: 100%;
    background-color: white;
    //border: 1px solid whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    color: black;
    text-decoration: none;
}

.nav-box:hover {
    //background-color: grey;
    //box-shadow: 0px 0px 10px black;
    //transition: box-shadow 0.3s linear;
}

.nav-box-icon-container {
    height: 70px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid black;
}

.nav-box-icon {
    height: 70px;
    padding: 0px;
    margin: 0px
}

.nav-box-title-small {
    display: none;
}

.me {
    border-radius: 40%;
}

.nav-box-content {
    //height: 200px;
    width: 80%;
    align-items: center;
    //display: grid;
    gap: 10px 40px;
    //grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-box-content2 {
    height: 200px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px 40px;
    align-items: center;
}

.nav-box-button {
    border: 1px solid black;
    bottom: 20px;
    margin: 25px;
    padding: 13px 10px;
    border-radius: 5px;
    background-color: black;
    opacity: 1;
    text-decoration: none;
    color: seashell;
    font-size: 14px;
}

.nav-box-button:hover {
    cursor: pointer;
    background-color: orange;
    border: 1px solid orange;
    color: black;
    transition: all 0.2s ease-in-out;
}

.outer-box-element {
    font-size: 15px; margin: 0px;
    font-weight: 400;
    padding: 20px 10px;
    height: 150px;
    width: 250px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.box-about-me {
    background-color: rgba(0,0,0,0.8);
}

#classical-box {
    background-image: url("../imgs/menu/classical.jpeg");
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 140px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

#classical-box p {
margin: 0px;
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: rgba(0,0,0,0.7);
    color: whitesmoke;
}

.sp {
    //background-color: red;
}
.telecom {
    //background-color: blue;
}
.frend {
    //background-color: green;
}
.art {
    //background-color: pink;
}

.box-element {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#telecom-box {
    background-image: url("../imgs/menu/telecom.jpeg");
}
#sp-box {
    background-image: url("../imgs/menu/sp.jpeg");
}
#frontend-box {
    background-image: url("../imgs/menu/frontend.jpeg");
}
#asp-box {
    background-image: url("../imgs/menu/asp.jpeg");
}
#paintings-box {
    background-image: url("../imgs/menu/paintings.jpeg");
}
#cinema-box {
    background-image: url("../imgs/menu/cinema.jpeg");
}
#music-box {
    background-image: url("../imgs/menu/music.jpeg");
}
#clasmus-box {
    background-image: url("../imgs/menu/classical.jpeg");
}


.box-p {
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: rgba(0,0,0,0.7);
    color: whitesmoke;
}

@media screen and (max-width: 1250px) and (min-width: 1000px) {
    .banner {
        height: 300px;
    }
    #banner-img-source {
        top: 162px;
    }
}
@media screen and (max-width: 1250px){
    header {
        height: 80px;
    }
    #menu-icon-container {
        height: 80px;
    }
    header h1 {
        font-size: 30px;
    }
    main {
        top: 80px;
    }
    #search-container {
        height: 50px;
    }


    .banner p {
        font-size: 18px;
    }
    .banner {
        height: 200px;
    }
    #banner-img-source {
        top: 172px;
        height: 20px;
        font-size: 8px;
    }

    .nav-box-container {
        display: block;
    }
    .nav-box {
        margin: 20px auto;
        width: 100%;
        //height: 300px;
        border-radius: 0px;
    }
    .nav-box-title {
        display: none;
    }
    .nav-box-title-small {
        display: block;
    }
    .nav-box-icon-container {
        height: 30px;
        gap: 15px;
        width: 50%;
    }
    .nav-box-icon {
        height: 40px;
    }
    .nav-box-button {
        display: none;
    }
    .nav-box-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .outer-box-element {
        min-width: 70px;
    }

}