html, body {
    margin: 0px;
    background-color: rgba(0,0,0,0.7);
    font-family: "Montserrat", sans-serif;
}

main {
    min-height: 900px;
    transition all 0.5s linear;
}

#return-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    height: 40px;
    width: 40px;
    opacity: 0.7;
}

.shown-photo-container {
    padding-top: 20px;
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: seashell;
    transition: all 0.5s linear;
}

.photos {
    padding: 5px;
}

.shown-photo-container .chosen {
    display: flex;
    flex-direction: column;
    gap: 10%;
    height: 600px;
}

#shown-photo {
    //position: relative;
    //right: 0px;
    transition: all 0.5s linear;
}

#closebtn-more-info {
    font-size: 0px;
    margin: 0px;
    padding: px;
    width: 0px;
    opacity: 0.7;
    transition: all 0.5s linear;
}
#closebtn-more-info:hover {
    opacity: 1;
    cursor: pointer;
}
#more-info-title {
    position: relative;
    bottom: 20px;
    margin: 10px auto;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 0px;
    //border-bottom: 1px solid seashell;
}

#shown-photo-more-info-container {
    background-color: black;
    //position: absolute;
    //padding: 15px;
    //border: 1px solid seashell;
    border-radius: 10px;
    //top: 15%;
    //right: 10%;
    width: 0%;
    height: 0%;
    z-index: 100;
    transition: all 0.5s linear;
}
.photo-title-more-info {
    font-size: 0px;
    font-weight: 400;
    transition: all 0.5s linear;
}

#shown-photo-info-container {
    display: flex;
    gap: 15px;
    color: seashell;
    justify-content: center;
    align-items: center;
    transition: all 0.5s linear;
}

#photo-title {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    transition: all 0.5s linear;
}

#shown-photo-info-container #info-img {
    opacity: 0.6;
}

#info-img {
    height: 20px;
    width: 20px;
    margin: 0px;
}

#toolbar {
    height: 140px;
    transition: height 0.5s ease-in-out;
}

.arrows {
    height: 50px;
    position: absolute;
    top: 765px;
}

.left {
    left: 50px;
    opacity: 0.5;
}
.right {
    right: 50px;
}

.other-photos-container {
    margin: 10px auto;
    width: 70%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-photos-container .photos:hover {
    height: 110px;
    cursor: pointer;
    opacity: 0.7;
}

.other-photos-container .chosen-down {
    height: 110px;
}
.other-photos-container .not-chosen {
    height: 100px;
}

#button-container {
    height: 20px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    margin: 5px auto;
    margin-top: 0px;
    border: 1px solid seashell;
    //border-bottom: 1px solid grey;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

#button-container .open-close-toolbar {
    height: 10px;
    transform: rotate(-90deg);
    transition: all 0.5s ease-in-out;
}
#button-container:hover {
    background-color: seashell;
    cursor: pointer;
}



#header-openclose-button {
    position: absolute;
    top: 76px;
    width: 20px;
    height: 20px;
    left: 49%;
    right: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    z-index: 100000;
}
#header-arrow {
    width: 13px;
    height: 13px;
    transform: rotate(-90deg);
    transition: all 0.5s ease-in-out;
}

#header-openclose-button:hover {
    border: 1px solid seashell;
    cursor: pointer;
}




#sidebar {
    position: absolute;
    background-color: black;
    color: seashell;
    left: 0px;
    top: 170px;
    width: 80px;
    height: 360px;
    border: 1px solid whitesmoke;
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 10000;
    transition: all 0.5s linear;
}
#sidebar-arrow-container {
}
#sidebar-arrow {
    width: 10px;
    position: absolute;
    left: 60px;
    top: 47%;
    transform: rotate(-180deg);
    transition: all 0.5s linear;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    padding: 2px;
    cursor: pointer;
}

#sidebar-download {
    height: 40px;
    width: 40px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s linear;
}

#sidebar-download-img {
    width: 20px;
    height: 20px;
}