/****************************/
/* Responsiveness */
/****************************/
@media screen and (max-width: 1440px) and (min-width: 900px) {
    header nav {
        display: none;
    }
    #header-left {
        width: 50%;
    }
    #search-container {
        justify-content: right;
        position: absolute;
        right: 120px;
    }
    #full-name {
        display: block;
    }
    #first-name {
        display: none;
    }
    #logo-name {
        display: none;
    }
}
@media screen and (max-width: 900px) and (min-width: 730px) {
    header nav {
        display: none;
    }
    #header-left {
        width: 50%;
        gap: 0px 20px;
    }
    #search-container {
        justify-content: right;
        position: absolute;
        right: 120px;
    }
    #full-name {
        display: none;
    }
    #first-name {
        display: block;
    }
    #logo-name {
        display: none;
    }
}
@media screen and (max-width: 730px) and (min-width: 620px) {
    header nav {
        display: none;
    }
    #header-left {
        width: 10%;
    }
    #menu-icon-container{
        padding-right: 0px;
    }
    #search-container {
        justify-content: right;
        position: absolute;
        right: 120px;
        //position: default;
        //justify-content: right;
    }
    #full-name {
        display: none;
    }
    #first-name {
        display: none;
    }
    #logo-name {
        display: block;
    }
    .banner {
        background-position: center;
    }
}
@media screen and (max-width: 630px) {
    header nav {
        display: none;
    }
    #header-left {
        width: 8%;
    }
    #menu-icon-container{
        padding-right: 0px;
    }
    #search-container {
        justify-content: right;
        position: absolute;
        right: 40px;
        //position: default;
        //justify-content: right;
    }
    #full-name {
        display: none;
    }
    #first-name {
        display: none;
    }
    #logo-name {
        display: block;
    }
    #header-right {
        display: none;
    }

    .banner p {
        font-size: 13px;
    }
    .banner {
        height: 180px;
        background-position: center;
    }
    #banner-img-source {
        top: 155px;
        height: 18px;
        font-size: 7px;
    }
}

@media screen and (max-width: 800px){
    #banner-img-source {
        width: 150px;
    }
}

@media screen and (max-width: 1250px) and (min-width: 1000px) {
    .banner {
        height: 300px;
    }
    #banner-img-source {
        top: 162px;
    }
}
@media screen and (max-width: 1250px){
    header {
        height: 80px;
    }
    .secondary-nav {
        top: 80px;
    }
    #menu-icon-container {
        height: 80px;
    }
    header h1 {
        font-size: 30px;
    }
    main {
        top: 80px;
    }
    #search-container {
        height: 50px;
    }


    .banner p {
        font-size: 18px;
    }
    .banner {
        height: 200px;
    }
    #banner-img-source {
        top: 172px;
        height: 20px;
        font-size: 8px;
    }

    .nav-box-container {
        display: block;
    }
    .nav-box {
        margin: 20px auto;
        width: 100%;
        //height: 300px;
        border-radius: 0px;
    }
    .nav-box-title {
        display: none;
    }
    .nav-box-title-small {
        display: block;
    }
    .nav-box-icon-container {
        height: 30px;
        gap: 15px;
        width: 50%;
    }
    .nav-box-icon {
        height: 40px;
    }
    .nav-box-button {
        display: none;
    }
    .nav-box-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .outer-box-element {
        min-width: 70px;
    }

}

@media screen and (max-width: 1250px) {
    .nav-box-profil {
        display: block;
    }
}

