html {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

#tab-container {
    margin: 20px 50px
}

.tab-box {
    max-width: 1200px;
    min-width: 900px;
    background-color: white;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px 20px;
    color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab-line {
    display: flex;
    justify-content: center;
}

.note {
    background-color: white;
    height: 20px;
    width: 13px;
    text-align: center;
    margin: 1px;
    border: 0.5px solid rgba(0,0,255,0);
    border-radius: 2px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.note:hover {
    border: 0.5px solid rgba(0,0,255,0.4);
    cursor: default;
    //text;
}

.tab-line-name {
    height: 20px;
    width: 12px;
    text-align: center;
    margin: 1px;
    border: 0.5px solid rgba(0,0,2 55,0);
    border-radius: 2px;
}

.tab-line-separator {
    height: 20px;
    width: 7px;
    text-align: center;
    margin: 1px;
    border: 0.5px solid rgba(0,0,2 55,0);
    border-radius: 2px;
}

.tab-box-title {
    margin: 1px auto;

    width: 870px;
    font-size: 18px;
    font-weight: 700;
}

#chord-bar {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 50%;
    height: 100%;
    min-height: 150px;
    width: 0%;
    //20%;
    min-width: 0px;
    //150px;
    background-color: rgba(50,50,50,1);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: all 0.3s linear;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.chord {
    background-color: white;
    color: black;
    opacity: 0;
    height: 35px;
    width: 35px;
    margin: 12px;
    transition: all 0.3s linear;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
}
.chord:hover {
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}

#chord-container {

}

#close-button {
    position: absolute;
    top: 0px;
    right: 30px;
    font-size: 30px;
    opacity: 0;
    transition: all 0.3s linear;
}

#close-button:hover {
    opacity: 1;
    cursor: pointer;
}