html, body {
    margin: 0px;
    background-color: black;
    font-family: "Montserrat", sans-serif;
}

main {
    padding-bottom: 50px;
}

#backarrow {
    background-color: rgba(255,255,255,0.2);
    height: 50px;
    width: 50px;
    font-size: 20px;
    color: whitesmoke;
    position: absolute;
    top: 50px;
    left: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s linear;
    text-decoration: none;
}
#backarrow p {
    margin: 0px;
    font-family: 'Poor Story', cursive;
}
#backarrow:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.8);
}

#music-title {
    color: whitesmoke;
    text-align: center;
    margin: 40px;
}

#description {
    font-style: italic;
    color: whitesmoke;
    text-align: center;
    margin: 10px auto;
    width: 40%;
    min-width: 400px;
    line-height: 25px;
}

.box-container {
    display: grid;
    grid-template:
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.9fr 2fr 1fr;
    gap: 10px 10px;
    margin: 70px auto;
    padding: 0px 100px;
    width: 70%;
    //min-width: 1000px;
}
.box {
    background-color: whitesmoke;
    border-radius: 20px;
    min-height: 300px;
    text-align: center;
    position: relative;
    padding: 0px 10px;
}

#musician {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    padding: 0px 50px;
    min-width: 420px;
}
#album {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
    min-width: 420px;
}
#song {
    grid-column: 4 / 7;
    grid-row: 3 / 5;
    min-width: 620px;
}
#tabs {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    min-width: 420px;
}

#musician-container {
    border-radius: 10px;
    //background-color: rgba(0,0,0,0.2);
    height: 480px;
    display: grid;
    grid-template-column: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    justify-content: center;
}

.musician {
    height: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    //border-bottom: 1px solid rgba(0,0,0,0.7);
    width: 200px;
    margin: 5px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}
.musician:hover {
    background-color: black;
    border-radius: 10px;
    color: whitesmoke;
    cursor: pointer;
}
.number {
    width: 20px;
    padding: 0px 10px;
    padding-left: 15px;
}

#album-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 260px;
}
#tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 278px;
}

.album {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 400px;
    gap: 10px;
    margin: 0 auto;
    border-radius: 10px;
}
.album:hover {
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}
.song {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 600px;
    gap: 10px;
    margin: 5px auto;
    padding: 3px 5px;
    border-radius: 10px;
}
.song:hover {
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}


.album-number {
    //color: rgba(255,255,255,0.7);
    width: 20px;
    padding: 0px 5px;
}
.song-left {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
.song-right {
    width: 300px;
}


.see-more {
    //position: absolute;
    //bottom: 10px;
    text-decoration: none;
    color: rgba(0,0,0,0.5);
}
.see-more:hover {
    text-decoration: underline;
}


@media screen and (max-width: 1440px) {

    .box-container {
        display: block;
    }
    .box {
        margin: 30px auto;
    }
    .box h2 {
        padding-top: 30px;
    }
    .see-more {
        padding-bottom: 20px;
    }

}